.header {
  margin-top: 45px;
  margin-bottom: 40px;
  border-bottom: solid;
  padding-bottom: 41px;
  border-width: 1px;
  border-color: rgb(54, 54, 54, 0.7);
}

@media screen and (max-width: 635px) {
  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0;
    padding: 28px 167px 32px 27px;
  }
  .header {
    margin: 0;
    padding: 0;
  }
}
